@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@layer base {
  html {
    scroll-behavior: smooth;
  }

  ::selection {
    background-color: var(--color-sky-500);
    color: #fff;
  }

  body {
    background-color: var(--color-slate-50);
    color: var(--color-slate-900);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  .dark body {
    background-color: var(--color-slate-950);
    color: var(--color-slate-100);
  }
}